<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/programs.css">
    <title>powerLog - programs</title>
</head>
<body>
    <div class="container">
        <!--Side bar-->
        <%- include('partials/side-bar') %>
    
        <div class="create-program">
            <p>Create Program<p>
            <button onclick="window.location.href='/programs/create'">Create a fully custumizable program</button>
        </div>

    </div>
    <script src="/js/modal.js"></script>
    <script src="/js/users.js"></script>
</body>
</html>