@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
  background-color: #121212;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.container {
  display: flex;
}

.content {
  flex: 1;
  padding: 25px;
  margin-left: 240px;
}

.content .header {
  border-bottom: 1px solid #fff;
  padding-bottom: 12px;
  border-radius: 2px;
  margin-bottom: 1px;
  max-width: 75%;
}

.paragraph {
  margin-top: 0;
  max-width: 75%;
}