aside.side-bar {
  /*background-color: #1f1d1d;*/
  background-color: black;
  color: #fff;
  width: 240px;
  height: 100vh;
  position: fixed; top:0; left:0; bottom:0;
  padding: 20px;
  box-sizing: border-box;
}
aside.side-bar h2 {
  font-size: 30px;
  margin-top: 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 12px;
  border-radius: 2px;
}
aside.side-bar ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}
aside.side-bar ul li {
  margin-bottom: 10px;
}
aside.side-bar ul li a {
  color: #ccc;
  text-decoration: none;    
}

aside.side-bar p {
  position: absolute;
  bottom: 20px;
  left: 20px;
  text-decoration: none;
  color: #fff;
  background-color: #000;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* modal */
aside button#open-modal-btn{
  position: absolute;
  bottom: 20px;
  left: 20px;
  text-decoration: none;
  color: #ccc;
  background-color: #000;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

#login-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1f1d1d;
  padding: 20px;
  width: 800px;
  height: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  z-index: 1000;
}

#login-modal button.submit-btn {
  background-color: #1f1d1d;
  color: #ccc;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

#login-modal button.close-modal-btn {
  padding: 10px 20px;
  background-color: #555;
  color: #ccc;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
}

#sign-up-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1f1d1d;
  padding: 20px;
  width: 800px;
  height: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  z-index: 1000;
}

#sign-up-modal button.submit-sign-btn {
  background-color: #1f1d1d;
  color: #ccc;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

#sign-up-modal button.close-modal-sign-btn {
  padding: 10px 20px;
  background-color: #555;
  color: #ccc;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
}
/* modal end */

